h1 {
  font-family: opendyslexic;
}

h2,
h3,
h4,
strong {
  font-family: Tahoma;
}

.oppo {
  font-family: opendyslexic;
}

div.oppo {
  max-height: 800px;
}

body {
  background-color: #f1fcfc;
}
.oppo h1 {
  font-size: 4.5em;
  float: left;
  font-family: opendyslexic;
}

.admin h1 {
  font-size: default;
  font-family: opendyslexic;
}

.header.oppo {
  overflow: auto;
  overflow-y: hidden;
  height: 6.75em;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.color {
  display: inline-block;
  width: 90px;
  height: 90px;
  margin: 20px;
  border-radius: 40px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(241, 252, 252);
}

.color:hover {
  opacity: 0.35;
  cursor: pointer;
  border-color: #cfdfe6;
}

.card {
  background-color: #fff;
  box-shadow: 1px 1px 3px lightgray;
}

.admin.container {
  max-width: 500px;
}

.admin li {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding-top: 2.25em;
}

.thumbs {
  display: inline-block;
  width: auto;
  height: auto;
  max-height: 100px;
  padding: 50px 30px 0 30px;
  max-width: 250px;
  max-height: 170px;
}

.thumbs:hover {
  opacity: 0.35;
  cursor: pointer;
}

.emotions:hover {
  opacity: 0.35;
  cursor: pointer;
}

.emo {
  padding: 50px 30px 0 30px;
}

.emotions {
  display: inline-block !important;
}

.main-char-container {
  margin: 0 auto;
  margin-bottom: -10%;
  margin-top: 3%;
}
.angry {
  max-width: 175px !important;
  max-height: 300px !important;
}

.logo {
  max-width: 230px;
  max-height: 95px;
  width: auto;
  height: auto;
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.main-character {
  max-width: 275px !important;
  max-height: 400px !important;
}

a.child,
a.nolink {
  text-decoration: none;
  color: #333;
}

.child h4:hover {
  color: #fe929f !important;
}

img.character {
  display: block;
  width: auto;
  height: auto;
  max-height: 100px;
  padding: 10px;
}

.character-container {
  margin-left: 15%;
}
img.character.cat,
img.character.rodent {
  max-width: 150px;
  max-height: 155px;
}

div.questions {
  width: 84%;
  padding: 15% 0 20% 0;
  margin: 0 auto;
  margin-left: 8%;
  margin-left: 8%;
  text-align: center;
  font-size: 3em;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-indicators li {
  background-color: #333 !important;
}

@font-face {
  font-family: "opendyslexic";
  src: url("../fonts/OpenDyslexic-Regular.otf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "opendyslexic";
  src: url("../fonts/OpenDyslexic-Italic.otf");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "opendyslexic";
  src: url("../fonts/OpenDyslexic-Bold.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "opendyslexic";
  src: url("../fonts/OpenDyslexic-BoldItalic.otf");
  font-weight: bold;
  font-style: italic;
}
